---
import { QUOTE, NAME, ABOUT_ME } from "@/consts";
---

<div class="hero-bg hidden md:block h-screen hero-bg-animate absolute top-0"></div>
<section
  class="h-screen !z-[20] relative w-full grid place-items-center place-content-center"
  id="hero"
>
  <div class="text-left px-4 max-w-6xl">
    <div class="w-fit">
      <h1 class="font-bold text-7xl">{`<${NAME} />`}</h1>
      <h2 class="text-2xl opacity-95">
        {QUOTE}
      </h2>
      <div class="border-b border-white/20 pt-2 pb-2 " aria-hidden="true"></div>
    </div>
    <p class="font-descriptive text-white/90 text-base mt-6 max-w-3xl">
      {ABOUT_ME}
    </p>
  </div>
</section>

<script is:inline>
  const hero_bg = document.querySelector(".hero-bg-animate");

  setInterval(() => {
    let binaryText = "";
    for (let i = 0; i < 1000; i++) {
      binaryText += Math.floor(Math.random() * 2).toString();
    }
    hero_bg.textContent = binaryText;
  }, 300);
</script>
